@define-color accent_bg_color @{primary.hex};
@define-color accent_fg_color white;
@define-color accent_color @{primary.hex};
@define-color destructive_bg_color @{error.hex};
@define-color destructive_fg_color @{onError.hex};
@define-color destructive_color @{error.hex};
@define-color success_bg_color @{tertiaryContainer.hex};
@define-color success_fg_color @{onTertiaryContainer.hex};
@define-color success_color #1b8553;
@define-color warning_bg_color @{secondary.hex};
@define-color warning_fg_color @{onSecondary.hex};
@define-color warning_color @{secondary.hex};
@define-color error_bg_color @{errorContainer.hex};
@define-color error_fg_color @{onSurface.hex};
@define-color error_color @{error.hex};
@define-color window_bg_color @{surface.hex};
@define-color window_fg_color @{onSurface.hex};
@define-color view_bg_color @{surface.hex};
@define-color view_fg_color @{onSurface.hex};
@define-color headerbar_bg_color @{surfaceVariant.hex};
@define-color sidebar_bg_color @{surfaceVariant.hex};
@define-color secondary_sidebar_bg_color @{surfaceVariant.hex};
@define-color headerbar_fg_color @{onSurfaceVariant.hex};
@define-color headerbar_border_color rgba(0, 0, 0, 0.8);
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);
@define-color card_bg_color @{surfaceVariant.hex};
@define-color card_fg_color @{onSurfaceVariant.hex};
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color dialog_bg_color @{surface.hex};
@define-color dialog_fg_color @{onSurface.hex};
@define-color popover_bg_color @{surfaceVariant.hex};
@define-color popover_fg_color @{onSurfaceVariant.hex};
@define-color thumbnail_bg_color #000000;
@define-color thumbnail_fg_color rgba(255, 255, 255, 0.8);
@define-color shade_color rgba(255, 255, 255, 0.07);
@define-color scrollbar_outline_color @{outline.hex};
@define-color incognito_bg_color #d7e3f0;


windowcontrols > button.minimize image {
    /* background-color: #f6c177; */
    /* color: @warning_fg_color; */
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8cGF0aCBkPSJtIDQgNCBoIDEgaCAwLjAzMTI1IGMgMC4yNTM5MDYgMC4wMTE3MTkgMC4xMjg5MDYgMC42ODc1IDAuMzEyNSBsIDIuMjgxMjUgMi4yODEyNSBsIDIuMzEyNSAtMi4yODEyNSBjIDAuMjY1NjI1IC0wLjIzMDQ2OSAwLjQ0NTMxMiAtMC4zMDQ2ODggMC42ODc1IC0wLjMxMjUgaCAxIHYgMSBjIDAgMC4yODUxNTYgLTAuMDM1MTU2IDAuNTUwNzgxIC0wLjI1IDAuNzUgbCAtMi4yODEyNSAyLjI4MTI1IGwgMi4yNSAyLjI1IGMgMC4xODc1IDAuMTg3NSAwLjI4MTI1IDAuNDUzMTI1IDAuMjgxMjUgMC43MTg3NSB2IDEgaCAtMSBjIC0wLjI2NTYyNSAwIC0wLjUzMTI1IC0wLjA5Mzc1IC0wLjcxODc1IC0wLjI4MTI1IGwgLTIuMjgxMjUgLTIuMjgxMjUgbCAtMi4yODEyNSAyLjI4MTI1IGMgLTAuMTg3NSAwLjE4NzUgLTAuNDUzMTI1IDAuMjgxMjUgLTAuNzE4NzUgMC4yODEyNSBoIC0xIHYgLTEgYyAwIC0wLjI2NTYyNSAwLjA5Mzc1IC0wLjUzMTI1IDAuMjgxMjUgLTAuNzE4NzUgbCAyLjI4MTI1IC0yLjI1IGwgLTIuMjgxMjUgLTIuMjgxMjUgYyAtMC4yMTA5MzggLTAuMTk1MzEyIC0wLjMwNDY4OCAtMC40Njg3NSAtMC4yODEyNSAtMC43NSB6IG0gMCAwIiBmaWxsPSIjMmUzNDM2Ii8+Cjwvc3ZnPgo=") !important;
}

/* DING Transparency Fix for GTK4 */
window.ding-window,
window.gungadin-window,
.ding-window,
.gjs-ding-window {
    background-color: transparent;
}

/* windowcontrols > button.maximize {
    background-color: #31748f;
    color: @success_fg_color;
}

windowcontrols > button.close {
    background-color: #eb6f92;
    color: @destructive_fg_color;
} */
